allow-scripts[]=next
allow-scripts[]=sharp
allow-scripts[]=esbuild
allow-scripts[]=@next/swc-win32-x64-msvc
allow-scripts[]=lightningcss
allow-scripts[]=tailwindcss
cache=D:\npm-cache
strict-ssl=false
fetch-retries=5
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=600000
