allow-scripts[]=next
allow-scripts[]=sharp
allow-scripts[]=esbuild
allow-scripts[]=@next/swc-win32-x64-msvc
allow-scripts[]=@next/swc-linux-x64-gnu
allow-scripts[]=@next/swc-linux-x64-musl
allow-scripts[]=lightningcss
allow-scripts[]=tailwindcss
